openapi: 3.1.0
  info:
    title: SakthiAI Releases 531–540 API
    version: 5.540.0
    description: Private Enterprise Platform v5 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/531/cyber-recovery-service-catalogue/status:
  get:
    summary: Return Release 531 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/532/ransomware-containment-and-recovery/status:
  get:
    summary: Return Release 532 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/533/immutable-backup-verification-v2/status:
  get:
    summary: Return Release 533 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/534/identity-recovery-and-break-glass-operations/status:
  get:
    summary: Return Release 534 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/535/cloud-control-plane-recovery/status:
  get:
    summary: Return Release 535 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/536/data-integrity-and-reconciliation-recovery/status:
  get:
    summary: Return Release 536 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/537/application-rebuild-factory/status:
  get:
    summary: Return Release 537 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/538/cyber-crisis-exercise-and-lessons/status:
  get:
    summary: Return Release 538 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/539/recovery-metrics-and-executive-reporting/status:
  get:
    summary: Return Release 539 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/540/cyber-resilience-assurance-gate/status:
  get:
    summary: Return Release 540 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

