openapi: 3.1.0
  info:
    title: SakthiAI Releases 391–400 API
    version: 3.400.0
    description: Private enterprise v3 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/391/enterprise-portfolio-and-benefits-realisation/status:
  get:
    summary: Return Release 391 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/392/architecture-debt-and-modernisation-portfolio/status:
  get:
    summary: Return Release 392 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/393/merger-acquisition-and-divestiture-integration/status:
  get:
    summary: Return Release 393 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/394/data-and-platform-exit-programme/status:
  get:
    summary: Return Release 394 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/395/workforce-transition-and-skills-assurance/status:
  get:
    summary: Return Release 395 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/396/enterprise-risk-aggregation-and-stress-testing/status:
  get:
    summary: Return Release 396 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/397/board-governance-and-decision-traceability-v2/status:
  get:
    summary: Return Release 397 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/398/independent-assurance-and-certification-readiness/status:
  get:
    summary: Return Release 398 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/399/enterprise-edition-v3-general-availability-board/status:
  get:
    summary: Return Release 399 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/400/sakthiai-enterprise-programme-v3-completion-gate/status:
  get:
    summary: Return Release 400 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

