openapi: 3.1.0
  info:
    title: SakthiAI Releases 641–650 API
    version: 6.650.0
    description: Private Enterprise Platform v6 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/641/multimodal-project-and-asset-workspace/status:
  get:
    summary: Return Release 641 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/642/image-prompt-and-edit-specification/status:
  get:
    summary: Return Release 642 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/643/audio-and-voice-production-pipeline/status:
  get:
    summary: Return Release 643 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/644/video-storyboard-and-generation-pipeline/status:
  get:
    summary: Return Release 644 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/645/document-presentation-and-pdf-composer/status:
  get:
    summary: Return Release 645 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/646/media-quality-and-brand-compliance/status:
  get:
    summary: Return Release 646 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/647/content-moderation-and-sensitive-context-review/status:
  get:
    summary: Return Release 647 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/648/media-provenance-packaging-and-verification/status:
  get:
    summary: Return Release 648 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/649/content-distribution-and-withdrawal/status:
  get:
    summary: Return Release 649 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/650/multimodal-content-operations-gate/status:
  get:
    summary: Return Release 650 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

