openapi: 3.1.0
  info:
    title: SakthiAI Releases 851–860 Implementation API
    version: 8.860.0
    description: Private Enterprise Platform v8 implementation-blueprint contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/851/trust-centre-control-and-evidence-catalogue/status:
  get:
    summary: Return Release 851 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/852/security-privacy-and-ai-transparency-profile/status:
  get:
    summary: Return Release 852 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/853/continuous-control-evidence-collector-runtime/status:
  get:
    summary: Return Release 853 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/854/audit-evidence-request-and-access-workflow/status:
  get:
    summary: Return Release 854 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/855/control-testing-and-exception-runtime/status:
  get:
    summary: Return Release 855 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/856/supplier-assurance-and-dependency-register/status:
  get:
    summary: Return Release 856 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/857/compliance-obligation-change-monitor/status:
  get:
    summary: Return Release 857 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/858/customer-security-questionnaire-composer/status:
  get:
    summary: Return Release 858 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/859/trust-incident-disclosure-and-correction/status:
  get:
    summary: Return Release 859 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/860/trust-centre-operations-activation-gate/status:
  get:
    summary: Return Release 860 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

