openapi: 3.1.0
  info:
    title: SakthiAI Releases 381–390 API
    version: 3.390.0
    description: Private enterprise v3 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/381/knowledge-graph-quality-v2/status:
  get:
    summary: Return Release 381 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/382/citation-and-evidence-integrity-v2/status:
  get:
    summary: Return Release 382 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/383/multilingual-terminology-and-translation-operations-v2/status:
  get:
    summary: Return Release 383 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/384/accessible-content-and-assistive-technology-testing/status:
  get:
    summary: Return Release 384 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/385/child-safe-learning-and-family-controls-v2/status:
  get:
    summary: Return Release 385 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/386/cultural-religious-and-indigenous-knowledge-review/status:
  get:
    summary: Return Release 386 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/387/synthetic-media-provenance-and-watermark-readiness/status:
  get:
    summary: Return Release 387 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/388/public-information-correction-and-transparency/status:
  get:
    summary: Return Release 388 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/389/editorial-independence-and-conflict-disclosure/status:
  get:
    summary: Return Release 389 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/390/knowledge-trust-assurance-gate/status:
  get:
    summary: Return Release 390 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

