openapi: 3.1.0
  info:
    title: SakthiAI Releases 571–580 API
    version: 5.580.0
    description: Private Enterprise Platform v5 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/571/cost-model-and-unit-economics-registry/status:
  get:
    summary: Return Release 571 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/572/budget-planning-and-scenario-analysis/status:
  get:
    summary: Return Release 572 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/573/finops-allocation-and-showback-v2/status:
  get:
    summary: Return Release 573 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/574/investment-portfolio-prioritisation/status:
  get:
    summary: Return Release 574 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/575/benefits-realisation-and-outcome-verification/status:
  get:
    summary: Return Release 575 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/576/vendor-cost-and-contract-optimisation/status:
  get:
    summary: Return Release 576 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/577/consumption-quota-and-entitlement-planning/status:
  get:
    summary: Return Release 577 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/578/economic-risk-and-sensitivity-testing/status:
  get:
    summary: Return Release 578 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/579/value-transparency-and-executive-reporting/status:
  get:
    summary: Return Release 579 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/580/enterprise-economics-assurance-gate/status:
  get:
    summary: Return Release 580 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

