openapi: 3.1.0
  info:
    title: SakthiAI Releases 591–600 API
    version: 5.600.0
    description: Private Enterprise Platform v5 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/591/service-management-operating-model-v3/status:
  get:
    summary: Return Release 591 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/592/enterprise-architecture-repository-v3/status:
  get:
    summary: Return Release 592 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/593/continuous-control-monitoring-v2/status:
  get:
    summary: Return Release 593 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/594/product-and-platform-roadmap-governance-v2/status:
  get:
    summary: Return Release 594 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/595/migration-and-decommission-factory-v3/status:
  get:
    summary: Return Release 595 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/596/support-training-and-certification-readiness/status:
  get:
    summary: Return Release 596 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/597/production-change-and-release-control-v3/status:
  get:
    summary: Return Release 597 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/598/enterprise-exit-and-data-portability-v3/status:
  get:
    summary: Return Release 598 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/599/enterprise-platform-v5-general-availability-board/status:
  get:
    summary: Return Release 599 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/600/sakthiai-enterprise-platform-v5-completion-gate/status:
  get:
    summary: Return Release 600 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

