openapi: 3.1.0
  info:
    title: SakthiAI Releases 821–830 Implementation API
    version: 8.830.0
    description: Private Enterprise Platform v8 implementation-blueprint contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/821/agent-execution-request-and-purpose-contract/status:
  get:
    summary: Return Release 821 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/822/agent-plan-compiler-and-static-validator/status:
  get:
    summary: Return Release 822 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/823/tool-lease-and-scoped-capability-runtime/status:
  get:
    summary: Return Release 823 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/824/human-approval-inbox-and-decision-runtime/status:
  get:
    summary: Return Release 824 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/825/checkpoint-and-durable-agent-state/status:
  get:
    summary: Return Release 825 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/826/agent-sandbox-network-and-file-boundary/status:
  get:
    summary: Return Release 826 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/827/compensating-action-and-rollback-executor/status:
  get:
    summary: Return Release 827 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/828/agent-kill-switch-and-emergency-stop/status:
  get:
    summary: Return Release 828 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/829/agent-behaviour-evaluation-and-drift-response/status:
  get:
    summary: Return Release 829 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/830/bounded-agent-runtime-activation-gate/status:
  get:
    summary: Return Release 830 implementation status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled implementation blueprint status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

