openapi: 3.1.0
  info:
    title: SakthiAI Releases 541–550 API
    version: 5.550.0
    description: Private Enterprise Platform v5 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/541/identity-proofing-and-assurance/status:
  get:
    summary: Return Release 541 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/542/credential-issuance-and-lifecycle/status:
  get:
    summary: Return Release 542 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/543/passwordless-and-passkey-readiness/status:
  get:
    summary: Return Release 543 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/544/verifiable-credential-readiness/status:
  get:
    summary: Return Release 544 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/545/delegated-guardian-and-representative-access/status:
  get:
    summary: Return Release 545 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/546/privileged-identity-governance-v2/status:
  get:
    summary: Return Release 546 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/547/identity-recovery-fraud-and-redress/status:
  get:
    summary: Return Release 547 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/548/federation-and-trust-broker-operations/status:
  get:
    summary: Return Release 548 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/549/identity-privacy-and-selective-disclosure/status:
  get:
    summary: Return Release 549 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/550/identity-trust-assurance-gate/status:
  get:
    summary: Return Release 550 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

