openapi: 3.1.0
info:
  title: SakthiAI Tenant Storage Readiness API
  version: 0.18.0-tenant-persistence-foundation
  description: Safe, no-store readiness contract for disabled-by-default verified tenant persistence. It does not expose tenant IDs, email addresses, profile keys, JWTs or Access audiences.
servers:
  - url: https://sakthiai.omsaravanabhava.org
paths:
  /api/v1/platform/storage/readiness:
    get:
      summary: Get verified tenant persistence, schema, quota and retention readiness
      responses:
        '200':
          description: Storage readiness without identity or tenant-secret disclosure
          content:
            application/json:
              schema:
                type: object
                required: [status, platformRelease, ownerBuild, persistence, boundaries]
                properties:
                  status:
                    const: ok
                  platformRelease:
                    const: 0.18.0-tenant-persistence-foundation
                  ownerBuild:
                    const: 18
                  persistence:
                    type: object
                    properties:
                      context:
                        type: object
                        properties:
                          valid: { type: boolean }
                          role: { type: [string, 'null'] }
                          tenantIdDerived: { type: boolean }
                          tenantIdExposed: { const: false }
                          emailIncluded: { const: false }
                          profileKeyIncluded: { const: false }
                      storage:
                        type: object
                        properties:
                          activation: { type: string }
                          bindingPresent: { type: boolean }
                          schema:
                            type: object
                            properties:
                              required: { const: '0009' }
                              configured: { type: [string, 'null'] }
                              ready: { type: boolean }
                              automaticMigration: { const: false }
                          operations:
                            type: object
                            properties:
                              readsOperational: { type: boolean }
                              writesOperational: { type: boolean }
                      recordContract:
                        type: object
                        properties:
                          encryptedPayloadRequired: { const: true }
                          plaintextPayloadAllowed: { const: false }
                      quota:
                        type: object
                        properties:
                          hardQuotaEnabled: { type: boolean }
                          paidOverageAllowed: { const: false }
                          silentPaidFallback: { const: false }
                      retention:
                        type: object
                        properties:
                          automaticDeletionEnabled: { const: false }
                          automaticPurgeEnabled: { const: false }
                  boundaries:
                    type: object
                    properties:
                      fullEmailExposed: { const: false }
                      tenantIdExposed: { const: false }
                      profileKeyExposed: { const: false }
                      jwtExposed: { const: false }
                      migrationExecuted: { const: false }
                      writesExecuted: { const: false }
                      publicRegistration: { const: false }
                      paidFallbackEnabled: { const: false }