{"openapi":"3.1.0","info":{"title":"SakthiAI Runtime Waves 31–50 API","version":"50.0.0","description":"Disabled-by-default, private-owner, metadata-only advanced assurance API for Runtime Waves 31 through 50."},"servers":[{"url":"https://sakthiai.omsaravanabhava.org"}],"components":{"securitySchemes":{"cloudflareAccess":{"type":"apiKey","in":"header","name":"cf-access-jwt-assertion"}},"schemas":{"MetadataRequest":{"type":"object","additionalProperties":true,"description":"Bounded caller-supplied metadata. Request content is not persisted."},"SafeStatus":{"type":"object","properties":{"status":{"type":"string","const":"ok"},"enabled":{"type":"boolean"},"emergencyStopped":{"type":"boolean"},"operational":{"type":"boolean"},"metadataOnly":{"type":"boolean","const":true}}}}},"paths":{"/api/v1/runtime/v{wave}/status":{"get":{"summary":"Return safe disabled-by-default status","parameters":[{"name":"wave","in":"path","required":true,"schema":{"type":"integer","enum":[31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]}}],"responses":{"200":{"description":"Evaluation completed"},"400":{"description":"Invalid JSON or request object"},"401":{"description":"Cloudflare Access authentication required"},"403":{"description":"Authenticated identity is not the configured owner"},"413":{"description":"Payload exceeds the bounded metadata limit"},"422":{"description":"Metadata or assurance evidence was rejected"},"503":{"description":"Wave disabled, emergency-stopped or owner not configured"}}}},"/api/v1/runtime/v{wave}/controls/assess":{"post":{"summary":"Assess caller-supplied control maturity metadata","parameters":[{"name":"wave","in":"path","required":true,"schema":{"type":"integer","enum":[31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]}}],"responses":{"200":{"description":"Evaluation completed"},"400":{"description":"Invalid JSON or request object"},"401":{"description":"Cloudflare Access authentication required"},"403":{"description":"Authenticated identity is not the configured owner"},"413":{"description":"Payload exceeds the bounded metadata limit"},"422":{"description":"Metadata or assurance evidence was rejected"},"503":{"description":"Wave disabled, emergency-stopped or owner not configured"}},"security":[{"cloudflareAccess":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRequest"}}}}}},"/api/v1/runtime/v{wave}/evidence/validate":{"post":{"summary":"Validate evidence syntax, ownership and classification metadata","parameters":[{"name":"wave","in":"path","required":true,"schema":{"type":"integer","enum":[31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]}}],"responses":{"200":{"description":"Evaluation completed"},"400":{"description":"Invalid JSON or request object"},"401":{"description":"Cloudflare Access authentication required"},"403":{"description":"Authenticated identity is not the configured owner"},"413":{"description":"Payload exceeds the bounded metadata limit"},"422":{"description":"Metadata or assurance evidence was rejected"},"503":{"description":"Wave disabled, emergency-stopped or owner not configured"}},"security":[{"cloudflareAccess":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRequest"}}}}}},"/api/v1/runtime/v{wave}/scenario/evaluate":{"post":{"summary":"Evaluate caller-supplied risk scenarios without executing actions","parameters":[{"name":"wave","in":"path","required":true,"schema":{"type":"integer","enum":[31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]}}],"responses":{"200":{"description":"Evaluation completed"},"400":{"description":"Invalid JSON or request object"},"401":{"description":"Cloudflare Access authentication required"},"403":{"description":"Authenticated identity is not the configured owner"},"413":{"description":"Payload exceeds the bounded metadata limit"},"422":{"description":"Metadata or assurance evidence was rejected"},"503":{"description":"Wave disabled, emergency-stopped or owner not configured"}},"security":[{"cloudflareAccess":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRequest"}}}}}},"/api/v1/runtime/v{wave}/exception/validate":{"post":{"summary":"Validate a time-bounded exception proposal","parameters":[{"name":"wave","in":"path","required":true,"schema":{"type":"integer","enum":[31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]}}],"responses":{"200":{"description":"Evaluation completed"},"400":{"description":"Invalid JSON or request object"},"401":{"description":"Cloudflare Access authentication required"},"403":{"description":"Authenticated identity is not the configured owner"},"413":{"description":"Payload exceeds the bounded metadata limit"},"422":{"description":"Metadata or assurance evidence was rejected"},"503":{"description":"Wave disabled, emergency-stopped or owner not configured"}},"security":[{"cloudflareAccess":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRequest"}}}}}},"/api/v1/runtime/v{wave}/decision/gate":{"post":{"summary":"Evaluate a non-executing manual owner decision gate","parameters":[{"name":"wave","in":"path","required":true,"schema":{"type":"integer","enum":[31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50]}}],"responses":{"200":{"description":"Evaluation completed"},"400":{"description":"Invalid JSON or request object"},"401":{"description":"Cloudflare Access authentication required"},"403":{"description":"Authenticated identity is not the configured owner"},"413":{"description":"Payload exceeds the bounded metadata limit"},"422":{"description":"Metadata or assurance evidence was rejected"},"503":{"description":"Wave disabled, emergency-stopped or owner not configured"}},"security":[{"cloudflareAccess":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataRequest"}}}}}}}}