openapi: 3.1.0
  info:
    title: SakthiAI Releases 141–150 API
    version: 1.150.0
    description: Private enterprise-scale capability contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/141/unified-enterprise-workspace/status:
  get:
    summary: Return Release 141 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/142/conversational-experience-and-context/status:
  get:
    summary: Return Release 142 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/143/preference-and-personalisation-governance/status:
  get:
    summary: Return Release 143 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/144/accessibility-intelligence/status:
  get:
    summary: Return Release 144 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/145/multilingual-and-localisation-operations/status:
  get:
    summary: Return Release 145 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/146/notification-and-attention-governance/status:
  get:
    summary: Return Release 146 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/147/secure-collaboration-and-knowledge-work/status:
  get:
    summary: Return Release 147 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/148/executive-and-operational-dashboards/status:
  get:
    summary: Return Release 148 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/149/digital-adoption-and-learning-operations/status:
  get:
    summary: Return Release 149 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/150/experience-assurance-gate/status:
  get:
    summary: Return Release 150 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}

