openapi: 3.1.0
  info:
    title: SakthiAI Releases 161–170 API
    version: 1.170.0
    description: Private enterprise-scale capability contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/161/internal-developer-platform/status:
  get:
    summary: Return Release 161 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/162/golden-paths-and-software-templates/status:
  get:
    summary: Return Release 162 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/163/environment-provisioning-governance/status:
  get:
    summary: Return Release 163 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/164/configuration-and-feature-flag-governance/status:
  get:
    summary: Return Release 164 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/165/database-change-management/status:
  get:
    summary: Return Release 165 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/166/data-pipeline-and-dataops-control-plane/status:
  get:
    summary: Return Release 166 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/167/ai-and-ml-pipeline-orchestration/status:
  get:
    summary: Return Release 167 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/168/test-data-and-synthetic-data-management/status:
  get:
    summary: Return Release 168 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/169/platform-reliability-engineering/status:
  get:
    summary: Return Release 169 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/170/platform-engineering-assurance-gate/status:
  get:
    summary: Return Release 170 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}

