openapi: 3.1.0
  info:
    title: SakthiAI Releases 741–750 API
    version: 7.750.0
    description: Private Enterprise Platform v7 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/741/learning-programme-and-curriculum-registry/status:
  get:
    summary: Return Release 741 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/742/personal-learning-path-and-study-plan/status:
  get:
    summary: Return Release 742 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/743/interactive-lesson-and-practice-generator/status:
  get:
    summary: Return Release 743 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/744/assessment-question-bank-and-integrity/status:
  get:
    summary: Return Release 744 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/745/learning-progress-and-mastery-evidence/status:
  get:
    summary: Return Release 745 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/746/career-profile-resume-and-portfolio-composer/status:
  get:
    summary: Return Release 746 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/747/interview-simulation-and-feedback/status:
  get:
    summary: Return Release 747 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/748/skills-taxonomy-and-role-mapping/status:
  get:
    summary: Return Release 748 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/749/training-accessibility-and-multilingual-delivery/status:
  get:
    summary: Return Release 749 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/750/learning-and-career-services-assurance-gate/status:
  get:
    summary: Return Release 750 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

