openapi: 3.1.0
  info:
    title: SakthiAI Releases 501–510 API
    version: 5.510.0
    description: Private Enterprise Platform v5 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/501/decision-problem-registry/status:
  get:
    summary: Return Release 501 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/502/evidence-and-assumption-ledger/status:
  get:
    summary: Return Release 502 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/503/scenario-and-counterfactual-analysis/status:
  get:
    summary: Return Release 503 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/504/multi-criteria-decision-analysis/status:
  get:
    summary: Return Release 504 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/505/decision-explanation-and-traceability/status:
  get:
    summary: Return Release 505 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/506/human-expert-review-workflow/status:
  get:
    summary: Return Release 506 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/507/decision-outcome-monitoring/status:
  get:
    summary: Return Release 507 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/508/bias-fairness-and-distributional-review/status:
  get:
    summary: Return Release 508 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/509/decision-appeal-and-reconsideration/status:
  get:
    summary: Return Release 509 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/510/decision-intelligence-assurance-gate/status:
  get:
    summary: Return Release 510 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

