openapi: 3.1.0
  info:
    title: SakthiAI Releases 691–700 API
    version: 6.700.0
    description: Private Enterprise Platform v6 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/691/enterprise-platform-v6-capability-catalogue/status:
  get:
    summary: Return Release 691 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/692/production-architecture-and-security-review-v6/status:
  get:
    summary: Return Release 692 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/693/tenant-onboarding-and-configuration-factory-v2/status:
  get:
    summary: Return Release 693 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/694/production-migration-and-cutover-control-v4/status:
  get:
    summary: Return Release 694 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/695/global-operations-and-follow-the-sun-readiness/status:
  get:
    summary: Return Release 695 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/696/service-continuity-and-provider-exit-v4/status:
  get:
    summary: Return Release 696 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/697/customer-acceptance-and-pilot-evidence/status:
  get:
    summary: Return Release 697 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/698/commercial-entitlement-readiness-without-billing-v2/status:
  get:
    summary: Return Release 698 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/699/enterprise-platform-v6-general-availability-board/status:
  get:
    summary: Return Release 699 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/700/sakthiai-enterprise-platform-v6-completion-gate/status:
  get:
    summary: Return Release 700 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

