openapi: 3.1.0
  info:
    title: SakthiAI Releases 261–270 API
    version: 2.270.0
    description: Private automation, knowledge, compliance and global-readiness contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/261/enterprise-process-catalogue/status:
  get:
    summary: Return Release 261 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/262/workflow-definition-and-versioning/status:
  get:
    summary: Return Release 262 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/263/decision-tables-and-rules-management/status:
  get:
    summary: Return Release 263 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/264/human-task-and-approval-orchestration/status:
  get:
    summary: Return Release 264 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/265/document-driven-process-automation/status:
  get:
    summary: Return Release 265 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/266/communication-automation-governance/status:
  get:
    summary: Return Release 266 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/267/robotic-process-automation-safety/status:
  get:
    summary: Return Release 267 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/268/process-mining-and-conformance/status:
  get:
    summary: Return Release 268 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/269/automation-value-and-performance/status:
  get:
    summary: Return Release 269 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}
/api/v1/programme/270/enterprise-automation-assurance-gate/status:
  get:
    summary: Return Release 270 status
    security:
      - accessToken: []
    responses:
      '200': {description: Tenant-scoped status}
      '401': {description: Authentication required}
      '403': {description: Authorisation denied}

