openapi: 3.1.0
  info:
    title: SakthiAI Releases 481–490 API
    version: 4.490.0
    description: Private Enterprise Platform v4 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/481/global-privacy-jurisdiction-registry/status:
  get:
    summary: Return Release 481 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/482/cross-border-data-transfer-governance/status:
  get:
    summary: Return Release 482 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/483/consent-and-lawful-basis-operations-v2/status:
  get:
    summary: Return Release 483 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/484/digital-identity-trust-framework/status:
  get:
    summary: Return Release 484 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/485/electronic-signature-and-evidence-readiness/status:
  get:
    summary: Return Release 485 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/486/records-management-and-defensible-disposal/status:
  get:
    summary: Return Release 486 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/487/ai-regulatory-readiness-register/status:
  get:
    summary: Return Release 487 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/488/digital-trust-transparency-reporting/status:
  get:
    summary: Return Release 488 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/489/independent-audit-and-attestation-readiness/status:
  get:
    summary: Return Release 489 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/490/global-digital-trust-assurance-gate/status:
  get:
    summary: Return Release 490 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

