openapi: 3.1.0
  info:
    title: SakthiAI Releases 491–500 API
    version: 4.500.0
    description: Private Enterprise Platform v4 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/491/enterprise-platform-v4-service-catalogue/status:
  get:
    summary: Return Release 491 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/492/production-readiness-review-v4/status:
  get:
    summary: Return Release 492 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/493/operational-acceptance-and-service-transition-v2/status:
  get:
    summary: Return Release 493 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/494/global-launch-and-regional-rollout/status:
  get:
    summary: Return Release 494 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/495/customer-migration-factory-v2/status:
  get:
    summary: Return Release 495 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/496/enterprise-support-and-escalation-model-v2/status:
  get:
    summary: Return Release 496 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/497/commercial-and-entitlement-readiness-without-billing/status:
  get:
    summary: Return Release 497 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/498/provider-exit-and-business-continuity-v2/status:
  get:
    summary: Return Release 498 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/499/enterprise-platform-v4-general-availability-board/status:
  get:
    summary: Return Release 499 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/500/sakthiai-enterprise-platform-v4-completion-gate/status:
  get:
    summary: Return Release 500 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

