openapi: 3.1.0
  info:
    title: SakthiAI Releases 791–800 API
    version: 7.800.0
    description: Private Enterprise Platform v7 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/791/enterprise-platform-v7-capability-catalogue/status:
  get:
    summary: Return Release 791 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/792/production-architecture-review-v7/status:
  get:
    summary: Return Release 792 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/793/environment-configuration-and-secret-readiness/status:
  get:
    summary: Return Release 793 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/794/production-data-and-migration-readiness-v5/status:
  get:
    summary: Return Release 794 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/795/operational-support-and-service-transition-v5/status:
  get:
    summary: Return Release 795 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/796/global-rollout-and-regional-readiness-v3/status:
  get:
    summary: Return Release 796 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/797/customer-pilot-and-adoption-evidence-v2/status:
  get:
    summary: Return Release 797 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/798/commercial-service-definition-without-billing-v3/status:
  get:
    summary: Return Release 798 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/799/enterprise-platform-v7-general-availability-board/status:
  get:
    summary: Return Release 799 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/800/sakthiai-enterprise-platform-v7-completion-gate/status:
  get:
    summary: Return Release 800 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

