openapi: 3.1.0
  info:
    title: SakthiAI Releases 361–370 API
    version: 3.370.0
    description: Private enterprise v3 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/361/energy-and-utilities-ot-safety-pattern/status:
  get:
    summary: Return Release 361 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/362/healthcare-clinical-boundary-pattern/status:
  get:
    summary: Return Release 362 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/363/financial-services-conduct-pattern/status:
  get:
    summary: Return Release 363 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/364/public-sector-transparency-pattern/status:
  get:
    summary: Return Release 364 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/365/education-and-safeguarding-pattern/status:
  get:
    summary: Return Release 365 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/366/legal-services-confidentiality-pattern/status:
  get:
    summary: Return Release 366 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/367/media-provenance-and-election-integrity-pattern/status:
  get:
    summary: Return Release 367 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/368/religious-and-cultural-heritage-pattern-v2/status:
  get:
    summary: Return Release 368 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/369/critical-infrastructure-cross-sector-exercise/status:
  get:
    summary: Return Release 369 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/370/regulated-industry-assurance-gate/status:
  get:
    summary: Return Release 370 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

