openapi: 3.1.0
  info:
    title: SakthiAI Releases 431–440 API
    version: 4.440.0
    description: Private Enterprise Platform v4 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/431/enterprise-lakehouse-domain-registry/status:
  get:
    summary: Return Release 431 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/432/data-ingestion-and-change-data-capture/status:
  get:
    summary: Return Release 432 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/433/batch-and-stream-processing-governance/status:
  get:
    summary: Return Release 433 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/434/data-quality-rules-and-observability-v2/status:
  get:
    summary: Return Release 434 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/435/data-lineage-and-impact-analysis-v2/status:
  get:
    summary: Return Release 435 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/436/data-access-productisation/status:
  get:
    summary: Return Release 436 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/437/data-retention-archival-and-legal-hold/status:
  get:
    summary: Return Release 437 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/438/data-platform-cost-and-capacity/status:
  get:
    summary: Return Release 438 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/439/data-platform-recovery-and-portability/status:
  get:
    summary: Return Release 439 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/440/governed-data-platform-assurance-gate/status:
  get:
    summary: Return Release 440 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

