openapi: 3.1.0
  info:
    title: SakthiAI Releases 681–690 API
    version: 6.690.0
    description: Private Enterprise Platform v6 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/681/obligation-and-control-requirement-registry/status:
  get:
    summary: Return Release 681 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/682/control-design-and-test-catalogue-v2/status:
  get:
    summary: Return Release 682 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/683/continuous-control-evidence-collection/status:
  get:
    summary: Return Release 683 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/684/control-effectiveness-assessment/status:
  get:
    summary: Return Release 684 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/685/issue-finding-and-remediation-management/status:
  get:
    summary: Return Release 685 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/686/policy-exception-and-risk-acceptance-v2/status:
  get:
    summary: Return Release 686 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/687/audit-request-and-evidence-workspace/status:
  get:
    summary: Return Release 687 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/688/management-assertion-and-disclosure-control/status:
  get:
    summary: Return Release 688 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/689/independent-assurance-readiness-v2/status:
  get:
    summary: Return Release 689 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/690/compliance-and-assurance-gate/status:
  get:
    summary: Return Release 690 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped disabled-by-default capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

