openapi: 3.1.0
  info:
    title: SakthiAI Releases 521–530 API
    version: 5.530.0
    description: Private Enterprise Platform v5 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/521/api-product-lifecycle-v2/status:
  get:
    summary: Return Release 521 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/522/event-contract-and-schema-registry/status:
  get:
    summary: Return Release 522 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/523/webhook-delivery-and-replay-governance/status:
  get:
    summary: Return Release 523 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/524/connector-and-adapter-framework/status:
  get:
    summary: Return Release 524 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/525/agent-tool-protocol-gateway/status:
  get:
    summary: Return Release 525 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/526/api-security-and-abuse-protection-v2/status:
  get:
    summary: Return Release 526 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/527/partner-federation-and-delegated-access/status:
  get:
    summary: Return Release 527 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/528/integration-observability-and-service-objectives/status:
  get:
    summary: Return Release 528 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/529/integration-portability-and-exit/status:
  get:
    summary: Return Release 529 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/530/api-and-integration-fabric-assurance-gate/status:
  get:
    summary: Return Release 530 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

