openapi: 3.1.0
  info:
    title: SakthiAI Releases 341–350 API
    version: 3.350.0
    description: Private enterprise v3 capability and assurance contracts.
  servers:
    - url: https://sakthiai.omsaravanabhava.org
  components:
    securitySchemes:
      accessToken:
        type: http
        scheme: bearer
        bearerFormat: JWT
  paths:
    /api/v1/programme/341/data-contract-registry-v2/status:
  get:
    summary: Return Release 341 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/342/semantic-layer-and-metric-governance/status:
  get:
    summary: Return Release 342 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/343/privacy-enhancing-technology-catalogue/status:
  get:
    summary: Return Release 343 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/344/differential-privacy-budget-management/status:
  get:
    summary: Return Release 344 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/345/federated-analytics-governance/status:
  get:
    summary: Return Release 345 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/346/secure-multi-party-computation-readiness/status:
  get:
    summary: Return Release 346 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/347/homomorphic-encryption-readiness/status:
  get:
    summary: Return Release 347 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/348/synthetic-data-quality-and-disclosure/status:
  get:
    summary: Return Release 348 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/349/responsible-data-value-and-sharing-readiness/status:
  get:
    summary: Return Release 349 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied
/api/v1/programme/350/data-intelligence-assurance-gate/status:
  get:
    summary: Return Release 350 status
    security:
      - accessToken: []
    responses:
      '200':
        description: Tenant-scoped capability status
      '401':
        description: Authentication required
      '403':
        description: Authorisation denied

